<!DOCTYPE html>
<html>


    <head>
        <center>
        <title> IRIS FLOWER SPECIES DETECTION </title>
    </head>

    <body bgcolor="#33B5FF">
        <center>
            <h1>IRIS FLOWER DETECTION</h1>
          

<h1>Species Classification</h1>
<form action = "predict" method="post">
    </center>
    <label for="SL">Enter the Sepal Lenth :</label><br>
    <input type="text" id="SL" name="SL" placeholder="sepal length" >
    <br><br>
    
    <label for="SW">Enter the Sepal Width :</label><br>
    <input type="text" id="SW" name="SW" placeholder="sepal width">
    <br><br>
    
    <label for="PL">Enter the Petal Length:</label><br>
    <input type="text" id="PL" name="PL" placeholder="petal length">
    <br><br>
    
    <label for="PW">Enter the Petal Width:</label><br>
    <input type="text" id="PW" name="PW" placeholder="petal width">
    <br><br>
    
    <input type="submit", value = "Predict">

</form>



</body>
</html>