<!DOCTYPE html>
<html>
<body>

<h1>Weight Calculator</h1>
<form action="prediction" method="post">
    <label for="SL">Enter the Sepal Lenth :</label><br>
    <input type="number" id="SL" name="SL"><br><br>
    
    <label for="SW">Enter the Sepal Width :</label><br>
    <input type="number" id="SW" name="SW"><br><br>
    
    <label for="PL">Enter the Petal Length:</label><br>
    <input type="number" id="PL" name="PL"><br><br>
    
    <label for="PW">Enter the Petal Width:</label><br>
    <input type="number" id="PW" name="PW"><br><br>
    
    <input type="submit">
</form>



</body>
</html>